body {
  background-image: url("background-img.jpg");
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
}

nav {
  color: white;
  text-align: center;
}

nav a {
  color: white;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    max-height: 300px;
    max-width: 300px;
}

.page-title {
  text-align: center;
}

.button-container {
  display: flex;
  gap: 4px;
}

.button-container button {
  flex: 1;
  padding: 3px 6px;
  text-align: center;
}

p {
  font-size: 14px;
}